<div class="card mb-3 h-100" style="width: 17rem">
  <a href="{{ film.url }}" target="_blank">
    <img
      src="{{ film.poster }}"
      class="card-img-top"
      alt="{{ film.name }} poszter"
    />
  </a>
  <div class="card-body">
    <h5 class="card-title">
      {{ film.name }}
      <span *ngIf="film.year !== 0">({{ film.year }})</span>
    </h5>
    <!-- <span
      class="film-stars"
      [tooltip]="tooltipText"
      [hide-delay]="0"
      placement="right"
    > -->
    <!-- TODO inkompatibilis csomag miatt a tooltip eltávolítva -->
    <span class="film-stars">
      <i class="fa fa-thumbs-down stars-0" *ngIf="starsArray.length === 0"></i>
      <span *ngFor="let stars of starsArray">
        <i
          class="fa fa-star"
          [class.stars-1]="starsArray.length === 1"
          [class.stars-2]="starsArray.length === 2"
          [class.stars-3]="starsArray.length === 3"
          [class.stars-4]="starsArray.length === 4"
          [class.stars-5]="starsArray.length === 5"
        ></i>
      </span>
    </span>
    <div class="genres mt-2">
      <span>{{ genres }}</span>
    </div>
    <div class="keywords mt-2" *ngIf="keywords">
      <hr />
      <span
        ><b>Kulcsszavak: </b><small>{{ keywords }}</small></span
      >
    </div>
  </div>
</div>
